@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
/* @import "tw-animate-css"; */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  color: var(--custom-input-text-color) !important;
  -webkit-text-fill-color: var(--custom-input-text-color) !important;
  transition: background-color 9999s ease-in-out 0s;
}

select.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
}

.display-height {
  height: 100vh;   /* fallback for older browsers */
  height: 100dvh;  /* preferred for modern browsers */
}

/* TIP TAP NOTES */
.tiptap p {
  margin: 0;
}
.tiptap {
  outline: none;
}

/* 

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: #ddd;
  border-radius: 9999px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
  margin-top: -4px; 
}

input[type="range"]::-moz-range-track {
  height: 2px;
  background: white;
  border-radius: 9999px;
}

input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
  border: none;
} */

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: #ddd;
  border-radius: 9999px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
  margin-top: -4px; /* centers the thumb within the bigger hitbox */
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  height: 2px;
  background: #ddd;
  border-radius: 9999px;
}

input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
  border: none;
  cursor: pointer;
}

/* DIM */
.dim {
  transition: filter 0.2s ease-in-out;
  will-change: filter;
}

/* Sephir */
@font-face {
  font-family: "Sephir";
  src: url("/public/fonts/sephir/Sephir-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.sephir {
  font-family: "Sephir", sans-serif;
}

/* Glyce */
@font-face {
  font-family: "Glyce";
  src: url("/public/fonts/glyce/Glyce-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.glyce {
  font-family: "Glyce", sans-serif;
}

/* Caster */
@font-face {
  font-family: "Caster";
  src: url("/public/fonts/caster-demo/Caster.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.caster {
  font-family: "Caster", sans-serif;
}

/* Abygaer */
@font-face {
  font-family: "Abygaer";
  src: url("/public/fonts/abygaer/Abygaer.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.abygaer {
  font-family: "Abygaer", sans-serif;
}

/* Klivora */
@font-face {
  font-family: "Klivora";
  src: url("/public/fonts/klivora/Klivora.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.klivora {
  font-family: "Klivora", sans-serif;
}

/* Sandemore */
@font-face {
  font-family: "Sandemore";
  src: url("/public/fonts/sandemore/SandeMore-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.sandemore {
  font-family: "Sandemore", sans-serif;
}

/* Medio */
@font-face {
  font-family: "Medio";
  src: url("/public/fonts/medio/Medio.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.medio {
  font-family: "Medio", sans-serif;
}

/* Mollie */
@font-face {
  font-family: "Mollie";
  src: url("/public/fonts/mollie/MollieGlaston.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.mollie {
  font-family: "Mollie", sans-serif;
}

/* Kayonest */
@font-face {
  font-family: "kayonest";
  src: url("/public/fonts/kayonest/Kayonest.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.kayonest {
  font-family: "Kayonest", sans-serif;
}

/* Quorina */
@font-face {
  font-family: "quorina";
  src: url("/public/fonts/quorina/Quorina.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.quorina {
  font-family: "Quorina", sans-serif;
}

/* seraphinem */
@font-face {
  font-family: "seraphinem";
  src: url("/public/fonts/seraphinem/seraphinem.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.seraphinem {
  font-family: "Seraphinem", sans-serif;
}

/* poppins */
/* @font-face {
  font-family: 'poppins';
  src: url('/public/fonts/poppins/poppins.medium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}  */

/* poppins semibold */
@font-face {
  font-family: "poppins";
  src: url("/public/fonts/poppins/poppins.semibold.ttf") format("opentype");
}

.poppins {
  font-family: "Poppins", sans-serif;
}

/* manrope bold */
@font-face {
  font-family: "manrope";
  src: url("/public/fonts/manrope/manrope.bold.otf") format("opentype");
}

.manrope {
  font-family: "Manrope", sans-serif;
}

/* manrope md */
@font-face {
  font-family: "manrope2";
  src: url("/public/fonts/manrope-md/manrope.medium.otf") format("opentype");
}

.manrope-md {
  font-family: "Manrope2", sans-serif;
}

/* Roboto */
@font-face {
  font-family: "roboto";
  src: url("/public/fonts/roboto/roboto-condensed.bold.ttf") format("opentype");
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* Handwriting */
@font-face {
  font-family: "baskara";
  src: url("/public/fonts/baskara/baskara.regular.otf") format("opentype");
}

.baskara {
  font-family: "Baskara", sans-serif;
}

@font-face {
  font-family: "bestfriend";
  src: url("/public/fonts/bestfriend/bestfriend-signature.regular.ttf")
    format("opentype");
}

.bestfriend {
  font-family: "Bestfriend", sans-serif;
}

/* modernline */
@font-face {
  font-family: "modernline";
  src: url("/public/fonts/modernline/modernline.otf") format("opentype");
}

.modernline {
  font-family: "Modernline", sans-serif;
}

/* priestacy */
@font-face {
  font-family: "priestacy";
  src: url("/public/fonts/priestacy/Priestacy.otf") format("opentype");
}

.priestacy {
  font-family: "priestacy", sans-serif;
}

/* akitha */
@font-face {
  font-family: "akitha";
  src: url("/public/fonts/akitha/akitha.regular.otf") format("opentype");
}

.akitha {
  font-family: "akitha", sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
